<div class="header with-delimiter">
    <div class="header-contacts">
        <h2>Индивидуальный предприниматель Иванов Иван Иванович</h2>
        <div class="header-contacts-row">
            <p class="phone-number">+79123456789</p>
            <a class="header-link" href="#">www.ivanov.com</a>
            <a class="header-link" href="#">ivan@ivanov.com</a>
        </div>
        <div class="header-contacts-row">
            <a class=header-link href="#">Информация о компании</a>
        </div>
        <div class="header-contacts-row">
            <a class=header-link href="#">Показать реквизиты</a>                
        </div>
    </div>
    <img class="header-image" src="/assets/img/header.jpg" />
</div>